!!! html
%html
  %head
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link{ href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', type: 'text/css', rel: 'stylesheet' }
    
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-navigation")
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand(href="/") Policies
        %div.collapse.navbar-collapse#primary-navigation
          %ul.nav.navbar-nav
            %li
              %a(href="/projects") Projects
          .nav.navbar-nav.navbar-right
            %li
              %a(href="javascript:void(0)")
                Welcome, #{current_user['name']['givenName']}!
            %li
              %a(href="/logout")
                Logout
   
    .container
      = yield

    %script{ type: 'text/javascript', src: '/jquery.js'}
    %script{ type: 'text/javascript', src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js'}
    %script{ type: 'text/javascript', src: '/jquery-ujs.js'}
    %script{ type: 'text/javascript', src: '/script.js'}