.page-header
  %h1 New Policy
  
%ol.breadcrumb
  %li
    %a{ href: "/projects" } Projects
  %li
    %a{ href: "/projects/#{project[:id]}" }= project[:title]

  %li.active New Policy

%form{ action: "/projects/#{project[:id]}/policies", method: 'post' }
  = haml :input, locals: { record_type: 'policy', attribute: 'title', label: 'Title' }
  = haml :input, locals: { record_type: 'policy', attribute: 'description', label: 'Description', textarea: true }

  %div
    %button.btn.btn-default{ type: "submit" } Create Policy
