%ul.list-group
  - projects.each do |project|
    %li.list-group-item
      = project[:title]
      %a.pull-right{ href: "/projects/#{project[:id]}" } view

%a.btn.btn-default{ href: '/projects/new' }
  %small.glyphicon.glyphicon-plus
  New Project