%ul.list-group
  - projects.each do |project|
    %a.list-group-item{ href: "/projects/#{project[:id]}" }= project[:title]

%a.btn.btn-default{ href: '/projects/new' }
  %small.glyphicon.glyphicon-plus
  New Project